.item {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid black;

  font-size: 5rem;

  user-select: none;
}

.item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}
